@import 'nib'

input[type='range']
  -webkit-appearance: none !important
  width: 35%
  height: 17px
  -moz-border-radius: 0.5em
  -webkit-border-radius: 0.5em
  border-radius: 0.5em
  margin: 5px
  border: 1px solid #BBB
  background-image: linear-gradient(#d0d0d0,#f1f1f1)

input[type='range']::-webkit-slider-thumb
  -webkit-appearance: none !important
  height: 28px
  width: 28px
  -moz-border-radius: 0.5em
  -webkit-border-radius: 0.5em
  border-radius: 0.5em
  text-shadow: 0 1px 0 white
  border: 1px solid #eee
  background: radial-gradient(contain, #ffffff,#f1f1f1)
  background-repeat: repeat-x
  border-color: #E6E6E6 #E6E6E6 #BFBFBF

.slider_span
  border: 1px solid #dee
  min-width: 20px
  height: 25px
  line-height: 25px
  text-align: center
  background-image: linear-gradient(#f1f1f1,#ffffff,#f1f1f1)
  -moz-border-radius: 0.2em
  -webkit-border-radius: 0.2em
  border-radius: 0.2em

